.terminal{
    white-space: pre-wrap;
    overflow: scroll;
     height: 100%;
      width: 100%;
      background: black;
      opacity: .2;
      color: white;
}

#login{
    color: blue;
}

.jumbotron
{
background-color:#A05F5F;
}
//TODO: mime type error??